@import  url(https://fonts.googleapis.com/css?family=Montserrat);
$button-color: #2D3142;
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #003366;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 4em;
}

.App-intro {
  font-size: large;
}

.Add-button {
  color: white;
  border-radius: 4px;
  background-color: #003366;
  box-sizing: large;
  transition-duration: .5s;


}

.Add-button:hover {
    border: 2px solid orangered;
    color:orangered;
    background-color: white;
        
}


.Start-button {
  color: white;
  border-radius: 4px;
  background-color: #003366;
  box-sizing: large;
  transition-duration: .5s;


}

.Start-button:hover {
    border: 2px solid orangered;
    color:orangered;
    background-color: white;
        
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
